*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body{
    margin: 0;
    background-color: rgb(242,250,249);
}
#main-block{
    display: flex;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    flex-direction: column;
}




































#main-header{
    display: flex;
    height: 135px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #FFF;
    box-shadow: 0.5px 0.5px 1em rgba(128, 128, 128, 0.3);
}

#button-pointage{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 40px;
    background-color: #FFF;
    border-radius: 1em;
    box-shadow: 0.5px 0.5px 0.5em gray;
    border-top: 1px solid rgba(128, 128, 128, 0.1);
    border-left: 2px solid rgba(128, 128, 128, 0.1);
    border-right: 2px solid rgba(128, 128, 128, 0.1);
    border-bottom: 2px solid rgba(128, 128, 128, 0.1);

}
#button-pointage h2{
    color: rgb(0, 150, 136);
    margin: 10px;
}




#profil{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#profil h1{
    border-radius: 0.2em;
    margin-right: 20px;
    background-color: rgb(0, 150, 136);
    color: #FFF;
    width: 75px;
    height: 75px;
    text-align: center;
    font-weight: normal;
    align-items: center;
}
#profil p{
    color: gray;
    font-size: x-large;
}


















#banierre{
    color: rgb(0, 150, 136);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* border: 2px black solid; */
    
}
#banierre h1{
    font-weight: bold;
    font-size: 2.5em;
}
#banierre img{
    margin: 0 10px;
    font-size: 3.5em;
    color: gray;
}
#banierre p{
    font-size: 2em;
    font-weight: 100;
}































#main-section{
    display: flex;
    flex-direction: row;
    height: 800px;
}














#main-menu{
    background-color: rgb(0, 150, 136);
    flex: 1;
}
#main-menu ul{
    margin-top: 25%;
    padding: 0%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#main-menu li{
    display: flex;
    align-items: baseline;
    margin: auto;
    width: 100%;
    list-style: none;
}
#main-menu a{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 30px;
    color: #FFF;
    font-size: 1.7em;
}
#main-menu a i{
    margin-right: 15%;
}
#main-menu a:hover{
    background-color: #fff;
    color: rgb(0, 150, 136);
    border-right: 10px orangered solid;
    font-weight: bold;
}


.material-icons{
    margin-left: 10px;
}











































#second-section{
    display: flex;
    flex-direction: column;
    flex: 5;
    margin: 25px 25px;
    /* background-color: aqua ; */
}

#second-header{
    display: flex;
    border: rgba(0, 150, 136, 0.3) solid 0.1em;
    border-radius: 5px;
    font-size: 1.3em;
    color: gray;
    /* margin: 10px 0px; */
    padding-left: 10px;
    height: 70px;
    align-items: center;
}
#third-section{
    display: flex;
    flex-direction: row;
    
    margin-top: 30px;
    justify-content: space-between;
}
#third-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
    /* margin-top: 10px; */
    justify-content: space-between;
    color: rgb(0, 150, 136);
}
#third-header h2{
    font-size: x-large;
}
#third-header a{
    color: rgb(0, 150, 136);
    font-size: x-large;
    margin-right: 20px;
}
#third-section #body-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: gray;
    margin-right: 10px;
    margin-left: 20px;
}




#fourth-section{
    flex: 7;
}
aside{
    flex: 2;
    margin-left: 15px;
}
#coach{
    background-color: #FFF;
    box-shadow: 1px 1px 1em rgba(128, 128, 128, 0.1);
    border-radius: 0.8em;
    display: flex;
    flex-direction: row;
    padding: 15px 10px;
    margin-bottom: 30px;
}
#coach img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
#coach #coach_name{
    display: flex;
    flex-direction: column;
    color: rgb(0, 150, 136);
    margin: 0px 15px;
    width: 100%;
}
#coach h2{
    font-size: 1.2em;
    font-weight: bolder;
    margin-bottom: 2px;
}
#coach p{
    color: gray;
    font-size: 1.2em;
}
#coach_name a{
    color: rgb(0, 150, 136);
    align-self: end;
}

#aside-groupe{
    background-color: #FFF;
    box-shadow: 1px 1px 1em rgba(128, 128, 128, 0.1);
    border-radius: 0.8em;
    display: flex;
    flex-direction: column;
    padding: 15px 30px;
    margin-bottom: 30px;
}
/* #aside-groupe header{
} */
#aside-groupe header i{
    margin-left: 0%;
    margin-right: 15px;
    font-weight: lighter;
}
#aside-groupe header a{
    color: grey;
    display: flex;
    flex-direction: row;
    width: 100%;
    font-size: x-large;
    align-items: center;
    padding: 20px 0px;
}
#aside-groupe p{
    padding: 30px 0;
    font-size: large;

}
#aside-groupe #line{
    display: flex;
    width: 100%;
    word-wrap: break-word;
    color: gray;
    font-size: large;
    margin: 5px 0;
}

























.task-section{
    /* flex:1; */
    padding: 30px;
    width: 100%;
    margin-right: 20px;
    margin-top: 0%;
    background-color: #FFF;
    border-radius: 1.5em;
    box-shadow: 1px 1px 1em rgba(128, 128, 128, 0.1);
}
.task-number{
    margin: 0;
    padding: 0;
    color: rgb(0, 150, 136);
    font-size: 7em;
    font-weight: bolder;
}
.task-label{
    margin: 0;
    font-size: 1.4em;
}







































#logo-bakeli img{
    width: 120px;
    height: 69px;
}
a{
    text-decoration: none;
}